*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body{
    background-color: black;
}

.banner h1{
    font-weight: normal;
    font-size: 3.125rem;
}

a{
    color: aquamarine;
    font-size: 1rem;
    display: block;
    margin: 2rem 0;
}

.main h1{
    font-weight: 300;
    font-size: 2.625rem;
    margin: 2rem 0;
}

.main p{
    font-size: 1.3125rem;
    color: gray;
    margin: 2rem 0;
}
